.results {
  padding: 130px 30px 30px 30px;
}

.results h3 {
  color: #113156 !important;
  padding-bottom: 120px;
}

.results h4 {
  color: #113156 !important;
  padding-bottom: 80px;
}

.results p {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 120px;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img {
  width: 500px;
  height: auto;
  padding-bottom: 80px;
}

.gallery {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo {
  width: 45%;
}

.sub-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.sub-p {
  padding-top: 5px;
}

.results-null {
  padding-bottom: 60vh;
}

@media only screen and (max-width: 1200px) {
  .main-img {
    width: 90%;
  }

  .photo {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .gallery {
    width: 90%;
  }

  .sub-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .results p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 120px;
  }
}
